*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*---------------------------------------------------------------------------------------------------------Header Style------------------*/
#header-style{
    height: 150px;
    width: 100%;
    background-color:  rgb(145, 212, 243);
}
.logo h2{
    font-size: 40px;
    text-align: center;
    margin: 20px;
    color: #ffffff;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
}
.menu{
    text-align: center;
    margin-top: -15px;
}
.menu li{
    list-style: none;
    display: inline;
    margin: 5px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.menu a:hover{
    border-bottom: 2px solid #777777;
}

/*---------------------------------------------------------------------------------------------------------Section Style------------------*/
#section-style{
    height: 1900px;
    width: 100%;
    background-color: rgb(60, 185, 243);
}
#who-are-we-img{
    height: 300px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
}
#who-are-we-img h3{
    padding-top: 20px;
    text-align: center;
}
.about-us{
    text-align: center;
    color: #ffffff;
}
.about-us h3{
    padding-top: 20px;
}
.main-page-deals{
    height: 1000px;
    width: 100%;
    background-color: rgb(145, 212, 243);
    padding-top: 20px;
}
.deals-box{
    height: 300px;
    width: 300px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border: 3px solid white;
    margin: 10px;
    text-align: center;
}
/*--------------------------------------------------------------Bali Main Deal----------*/
#bali{
    height: 300px;
    width: 300px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background: url("https://pix10.agoda.net/hotelImages/5673739/0/84a6695df6d88a1bdaf2b5e5f4abfc5f.jpg?s=1024x768") no-repeat center center;
    background-size: 300px 180px;
    background-position-y: -20px;
}
#bali h3{
    margin-top: 100px;
}
#bali hr{
    margin-top: -5px;
}
#bali h4{
    margin-top: -10px;
}
.price-outer{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: crimson;
}
#bali .price-outer{
    margin-top: -20px;
    margin-left: -20px;
}
.price-outer h6{
    padding-top: 22px;
    color: #ffffff;
}
#bali h5{
    color: rgba(214, 160, 23, 0.993);
}
/*----------------------------------------------------------------Tenerife Main Deal------*/
#tenerife{
    height: 300px;
    width: 300px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background: url("https://hi-cdn.t-rp.co.uk/images/hotels/117372/0?width=750&height=400&crop=true") no-repeat center center;
    background-size: 300px 180px;
    background-position-y: -20px;
}
#tenerife h3{
    margin-top: 100px;
}
#tenerife hr{
    margin-top: -5px;
}
#tenerife h4{
    margin-top: -10px;
}
#tenerife .price-outer{
    margin-top: -20px;
    margin-left: -20px;
}
.price-outer h6{
    padding-top: 22px;
    color: #ffffff;
}
#tenerife h5{
    color: rgba(214, 160, 23, 0.993);
}
/*--------------------------------------------------------------------------------------Dubai Main Deal---------------------------*/
#dubai{
    height: 300px;
    width: 300px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background: url("https://www.flightspro.co.uk/wp-content/uploads/2021/02/dubai.jpeg") no-repeat center center;
    background-size: 300px 180px;
    background-position-y: -20px;
}
#dubai h3{
    margin-top: 100px;
}
#dubai hr{
    margin-top: -5px;
}
#dubai h4{
    margin-top: -10px;
}
#dubai .price-outer{
    margin-top: -20px;
    margin-left: -20px;
}
.price-outer h6{
    padding-top: 22px;
    color: #ffffff;
}
#dubai h5{
    color: rgba(214, 160, 23, 0.993);
}
.main-page-deals{
    margin: 0 auto;
}



/*---------------------------------------------------------------------------------------------------------Footer Style------------------*/
#footer-style{
    height: 120px;
    width: 100%;
    background-color: burlywood;
    text-align: center;
}
.footer-info li{
    list-style: none;
    padding: 3px;
}

/*---------------------------------------------------------------------------------------------------------Contact Section Style------------------*/

#contact-section-style{
    height: 1200px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1544473244-f6895e69ad8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}
#contact-section-style h1{
    text-align: center;
    color: blanchedalmond;
}
.ways-of-contact{
    margin: 0 auto;
}
#email-us p{
    font-size: 14px;
    margin-left: -5px;
}
.contact-us-options{
    text-align: center;
    color: #ffffff;
}
.contact-us-options li{
    list-style: none;
}
.opening-times{
    border: 2px solid #777777;
    margin: 0 auto;
    font-size: 15px;
}
.border{
    border: 2px solid #777777;
}
.contact-box{
    height: 800px;
    width: 300px;
    border: 2px solid #ffffff;
    background: rgb(114, 216, 247, 0.6);
    margin: 0 auto;
    padding: 30px;
}
.labels{
    text-align: center;
    margin: 10px 0 0 10px;
    text-transform: uppercase;
    color: black;
}
.input-box{
    width: 200px;
    height: 30px;
    margin: 10px;
    border: 2px dotted;
}
#message{
    height: 400px;
    width: 200px;
    margin: 10px;
    border: 2px dotted;
}
#submit-button{
    height: 30px;
    width: 100px;
    text-align: center;
    margin-left: 60px;
    text-transform: uppercase;
}
#submit-button:hover{
    background-color: rgb(255, 231, 20);
}


/************************************************************************************************************************************************/
/*
*{
    margin: 0;
    padding: 0;
}
*/
/*------------------------------------------------------Header Style------*/
/*
#header-style{
    width:100%;
    height: 150px;
    background-color: rgb(11, 240, 240);
}

#menu{
    text-transform: uppercase;
    text-align: center;
    padding: 25px;
}
#menu h1{
    font-size: 26px;
    text-align: center;
    letter-spacing: 5px;
    color: azure;
}

#menu h1 a{
    text-decoration: none;
}

#menu ul{
    list-style: none;
    display: inline-block;
}
#menu li{
    color: grey;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
}
#menu li:hover{
    border-bottom: 1px solid black;
}
#menu li a{
    text-decoration: none;
}*/
/*--------------------------------------------------------------------------------------------Media queries-----*/
/*
@media only screen and (min-width: 481px) and (max-width: 768px){

    #menu h1{
        float: left;
    }
    #menu ul{
        float: right;
    }
    #menu li{
        float: left;
        margin: 10px;
    }
    #header-style{
        height: 120px;
    }
    
}

@media only screen and (min-width:769px) and (max-width:2560px){

    #menu{
        padding:25px;
    }
    #menu h1{
        float: left;
    }
    #menu ul{
        float: right;
    }
    #menu li{
        float: left;
        margin: 10px;
    }
    #header-style{
        height: 120px;
    }
}*/
/*-----------------------------------------------------Section Style------*/
/*
#section-style{
    width: 100%;
    height: 1800px;
    background-image: url("https://images.unsplash.com/photo-1582628138723-bb07fd456bea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}*/
/*
html{
    scroll-behavior: smooth;}/*(credit to https://www.youtube.com/watch?v=Vef9bxTilCU - dark code)*/

/*
.gotopbtn-inner{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 45px;
    color: rgb(250, 199, 59);
    float: right;
    padding-right: 40px;
    margin-top: -50px;
}
#about-us{
    text-align: center;
    padding: 0 20px;
}
.about-us-reasons-heading{
    color: blanchedalmond;
}
#about-us ul{
    display: inline-block;
    list-style: none;
}
#about-us h1{
    text-align: center;
    padding: 20px 0;
    color: blanchedalmond;
}
#about-us p{
    text-align: center;
    margin: 0px 20px 20px;
}
hr{
    width: 100%;
    border: 0.5px dashed blanchedalmond;
}*/
/*Deals cards*/
/*
#deals h1{
    text-transform: uppercase;
    font-size: 26px;   
    color: white;
    text-align: center;
}

#majorca{
    width: 250px;
    height: 250px;
    border: 3px solid white;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: rgb(63, 63, 156);
    opacity: 0.9;
    margin: 10px auto;
    color: white;
    font-size: 26px;
    text-align: center;
}

.price-tag{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: -30px;
    margin-left: -30px;
}
.price{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    position: relative;
}
.price p{
    font-size: 10px;
    padding-top: 10px;
}
.price-style{
    text-align: center;
    padding-top: 5px;
    position: relative;
}
.text-info{
    color: #ffffff;
    margin-top: 5px;
    text-align: center;
}
.text-info h3{
    color: orange;
}
#deals-icons{
    padding: 5px;
}
#deals-icons i{
    font-size: 15px;
    color: orange;
}
#tenerife{
    width: 250px;
    height: 250px;
    border: 3px solid white;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: rgb(63, 63, 156);
    opacity: 0.9;
    margin: 10px auto;
    color: white;
    font-size: 26px;
    text-align: center;
}
#dubai{
    width: 250px;
    height: 250px;
    border: 3px solid white;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: rgb(63, 63, 156);
    opacity: 0.9;
    margin: 10px auto;
    color: white;
    font-size: 26px;
    text-align: center;
}*/
/*Deals cards*/
/*------------------------------------------------------Footer Style------*/

/*
#footer-style{
    width: 100%;
    height: 100px;
    background-color: rgb(11, 240, 240);
    color: #777777;
}
#partner-info ul{
    list-style: none;
    float: left;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
#social-media-info ul{
    list-style: none;
    float: right;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
#social-media-info li{
    float: left;
    margin: 5px ;
    padding: 5px;
}
#address-info ul{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}/*sort this color and position on screen size lower than 425*/

/*--------------------------------------------------------------------Deals.HTML Deals Section-----------*/
/*
#section-styling{
    height: 4000px;
    width: 100%;
    background-color: pink;
}
.deals-cards{
    width: 300px;
    height: 300px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border: 2px solid #777777;
    text-align: center;
    /*margin: 10px;*/
/*}

.deals-price-outer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
}
*/

/******************************************************************************************************************************************/

